body {
    background-color: grey;
    margin: 0px;
    display: flex;
}

.tracker {
    margin-left: 50px;
    margin-top: 25px;
}

#input {
    margin-left: 50px;
    height: 1.5em;
    width: 100px;
    justify-content: center;
}

#addtick {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test {
    color: red;
    font-size: 1em;
}

.finp {
    height: 0px;
    width: 0px;
}
